@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

html {}

body {	
    line-height: 1;
    overflow-x: hidden;    
    height: 100vh;
    width: 100%;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 600;
}

a,
button {
	cursor: pointer;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input:focus {
	outline: none;
}

a {
	color: #40424c;
	text-decoration: none;
}

/* 스크롤바를 숨깁니다. */
::-webkit-scrollbar {
  	width: 5px; /* 스크롤바 너비 조정 */
	height: 5px;
}

/* 스크롤바의 트랙 (배경)을 스타일링합니다. */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* 스크롤바의 엄지손가락 (스크롤바를 드래그할 때)을 스타일링합니다. */
::-webkit-scrollbar-thumb {
  background-color: #888;
}

/* 마우스를 올렸을 때의 스크롤바 엄지손가락 스타일링 */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/*alert디자인(swal2)*/
.swal2-container {
	z-index: 99999 !important;
}

.swal2-popup {
	max-width: 300px !important;
	width: calc(100% - 80px) !important;
	min-width: 280px !important;
	font-size: 14px !important;
	padding: 35px !important;
}

.swal2-title {
	font-size: 1.15em !important;
	margin-bottom: 10px !important;
}

.swal2-html-container {
	font-size: 1em !important;
	line-height: 1.4em !important;
	margin: 0 !important;
	word-break: keep-all !important;
}

.swal2-actions {
	width: 100 !important%;
	margin-top: 20px !important;
	flex-wrap: nowra !importantp;
	flex-direction: row-reverse !important;
}

.swal2-actions button {
	width: 70px !important;
	border-radius: 4px !important;
	font-weight: 400;
	line-height: 30px !important;
	height: 30px !important;
	padding: 0 !important;
	border: 0 !important;
	margin: 0 2px !important;
}

.swal2-actions button:hover,
.swal2-actions button:focus {
	outline: none !important;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

.swal2-styled.swal2-confirm {
	background: linear-gradient(180deg, #3E8BFF 0%, #257CFF 100%) !important;
	color: #fff !important;
	border-radius: 4px !important;
}

.swal2-styled.swal2-deny {
	background: #C4C4C4 !important;
	color: #fff !important;
	border-radius: 4px !important;
}

.swal2-actions:not(.swal2-loading) .swal2-styled {
	opacity: 0.9 !important;
}

.swal2-actions:not(.swal2-loading) .swal2-styled:hover {
	background-image: none !important;
	opacity: 1 !important;
}

@media screen and (max-width:550px) {
	/*
	input {
		width: 100%;
	}
*/
}

/* loadingBar */
#mask {
    width: 100%;
    height: 100vh;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    background: #898989;
    z-index: 1050;
}

#loadingImg {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1051;
}

#loadingImg img {
    width: 80px;
    border-radius: 30%;
}
